#LoginPage {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#LoginPage td, #LoginPage th {
  border: 1px solid #ddd;
  padding: 8px;
}

#LoginPage tr:nth-child(even){background-color: #f2f2f2;}

#LoginPage tr:hover {background-color: #ddd;}

#LoginPage th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

a:link, a:visited {
  background-color: green;
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
}